[submodule "binutils-gdb"]
	path = binutils-gdb
	url = https://github.com/redox-os/binutils-gdb.git
	branch = master
[submodule "orbclient"]
	path = orbclient
	url = https://github.com/redox-os/orbclient.git
