[submodule "binutils-gdb"]
	path = binutils-gdb
	url = https://github.com/redox-os/binutils-gdb.git
	branch = master
[submodule "orbclient"]
	path = orbclient
	url = https://github.com/redox-os/orbclient.git
	branch = no_std
[submodule "image-png"]
	path = image-png
	url = https://github.com/system76/image-png.git
[submodule "rust"]
	path = rust
	url = https://github.com/system76/rust.git
[submodule "uefi"]
	path = uefi
	url = https://github.com/redox-os/uefi.git
