[submodule "dmi"]
	path = dmi
	url = https://github.com/redox-os/dmi.git
	branch = master
[submodule "orbclient"]
	path = orbclient
	url = https://github.com/redox-os/orbclient.git
	branch = no_std
[submodule "uefi"]
	path = uefi
	url = https://github.com/redox-os/uefi.git
	branch = master
[submodule "uefi_alloc"]
	path = uefi_alloc
	url = https://github.com/redox-os/uefi_alloc.git
	branch = master
[submodule "ecflash"]
	path = ecflash
	url = https://github.com/system76/ecflash.git
	branch = master
